body {
    margin: 0;
    padding: 0;
    /*background-image: url('profile.jpeg');*/
    font-family: 'Arial', sans-serif;
    backdrop-filter: blur(5.001px);
}

header {
   padding: 15px 0;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #1809e0;
}

h1 {
    color: #1809e0;
    font-size: 5em;
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    color: #1809e0;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    color: #1809e0;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #1809e0;
    font-weight: bold;
}

.nav button {
    padding: 15px 20px;
    border-radius: 20px;
}

.nav button:hover {
    background-color: #17b4e4;
}

.container {
    margin-top: 80px;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.877);
    width, max-width and margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    color: #1809e0;
}

.destination-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.destination {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.destination:hover {
    transform: scale(1.05);
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1);
}

.destination h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #1809e0;
    text-align: center;
}

.destination p {
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
}

.skills-container {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

.skills-container ul {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-container li {
    margin: 15px;
    padding: 15px;
    background-color: #1809e0;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.skills-container li:hover {
    transform: scale(1.05);
}

.skills-container span {
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #59c9e6;
    color: white;
}

footer p {
    margin: 0;
}